<!DOCTYPE html>
<html>
    <head>
        <title>Gutensearch</title>
    </head>
    <body>
        <p>
            📖 Gutensearch:
            <a href="{% url 'search_query' %}">🔍 Search</a> |
            <a href="{% url 'language_statistics' %}">🌐 Languages</a> |
            <a href="{% url 'admin:index' %}">⚙️Admin</a>
        </p>
        <h1>Gutensearch</h1>
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
    </body>
</html>
